@import "../../../root.scss";

.rightArrowButton {
  width: 100%;
  padding: 7px;
  outline: 2px solid #00000005;
  box-shadow: 0px 0px 2px #0000004b;
  border-radius: 7px;
  transition: all 0.3s;


  &:hover {
    box-shadow: 0px 0px 12px #00000031;
  }

  &:disabled {
    opacity: 50%;
    cursor: auto;

    &:hover {
      box-shadow: none;
    }
  }
}
