@import "../../root.scss";

.gameModeItem {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 7px;
    background-color: $background-default-color;
    transition: all 0.3s;
    max-width:100%;
    .name{
        font-size: 21px;
        font-weight: 500;
    }
    .description {
        color: $text-secondary-color;
        font-size: 16px;
    }

    &:hover{
        background-color: $control-background-primary-hover;
    }
}
