@import "../../root.scss";

.gameModeItem {
    padding: 10px;
    border-radius: 7px;
    outline: 2px solid #00000005;
    box-shadow: 0px 0px 8px #0000002a;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;

    &:hover{
        box-shadow: 0px 0px 10px #00000054;
    }
}
