@import "../../../root.scss";

.input {
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
}

.primary {
    background-color: $background-accent-color;
}

.secondary {
    background-color: $background-default-color;
}
