@import "../../../root.scss";

.input {
    display: flex;
    flex-direction: column;
    gap: 5px;

    
    input {
        background-color: $background-default-color;
        padding: 10px;
        border-radius: 5px;
    }
    
}
