
// Цвета для состояний
$success-color: #5BB55B; 
$error-color: #FF5B5B;

// Цвет фона
$background-accent-color: #1b1b1b;
$background-default-color: rgba(37, 36, 39, 1);  
$background-link-color: rgba(222, 190, 73, 0.1);
$background-link-color-hover: rgba(222, 190, 73, 0.183);
$background-modal-color: #232323;

$control-background-primary-hover:rgb(46, 45, 48); 
$control-background-secondary-hover:#1b1b1bc9;
$control-background-disabled:#1b1b1b5d;
// Цвет текста
$text-primary-color: rgb(239, 239, 239);
$text-secondary-color: rgba(255, 255, 255, 0.7);
$text-link-color:#debe49;

// Шрифты
$main-font: 'Arial', sans-serif; 
$heading-font: 'Helvetica', sans-serif; 

// Размеры
$main-font-size: 16px;
$heading-font-size: 24px; 
